table {
  text-align: center;
  width: 100%;
  margin:0 auto;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border:1px solid #ccc;
  border-spacing: 0;
  overflow:hidden;
}

td,th {
  border-bottom:1px solid #ccc;
  padding: 10px !important;
}
th {
  text-align: center !important;
  background: var(--accent);
  color: #fff;
}
table tbody tr:last-child th,
table tbody tr:last-child td{
  border-bottom: none;
}
th + th,td {
  border-left:1px solid #ccc;
}
table tr:nth-child(odd) td {
  background: #eee;
}
